@import 'Colors';

body { 
    text-align: center;
}

.gameover-container {
    height: 400px;
    width: 65%;
    padding: 6%;
    line-height: 40px;
    background-color: $brownBG;
    border: 10px solid $darkbrown;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
}

.gameover-title {
    color: #fff;
    font-size: 60px;
}

.gameover-description {
    color: #fff;
    font-size: 20px;
}