.main-title {
    color: #fff;
    font-size: 60px;
}

.shuffle-btn:hover {
    transform: scale(1.1);
}

.card-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.moves-container {
    margin-top: 15px;
    line-height: 10px;
}