$main-font: 'Fredoka One', cursive;

body {
  background: url('./Assets/BACKGROUND.jpg');
  background-repeat: no-repeat;
  // background-size: 1800px 900px;
  background-size: auto; //auto re-size
  font-family: $main-font;
}

